FROM <%= @basename %>

<%- @hooks.each do |hook| -%>
<%= hook %>
<%- end -%>

<%- if @eatmydata -%>
RUN apt-get update && apt-get install -y eatmydata
<%- end -%>
ENV DEBIAN_FRONTEND noninteractive
COPY whalebuilder-dependency-helper_1.0_*.deb <%= @extra_debs.join(" ") %> /var/tmp/debs/

RUN apt-get -y install apt-utils && cd /var/tmp/debs && chmod 0775 . && apt-ftparchive packages . | gzip -9c - > Packages.gz && echo 'deb [trusted=yes] file:/var/tmp/debs/ ./' > /etc/apt/sources.list.d/local.list && apt-get update && apt-get install -y whalebuilder-dependency-helper<%= (@extra_debs.map { |x| " /home/whalebuilder/" + x }).join() %> && \
rm -r /var/tmp/debs /etc/apt/sources.list.d/local.list && \
apt-get update
RUN apt-get update && <% if @eatmydata %>eatmydata <% end %>apt-get install -f -y --no-install-recommends && apt-get clean
RUN install -o whalebuilder -g whalebuilder -d /build
