FROM <%= @distribution %><% if @tag %>:<%= @tag %><% end %>
MAINTAINER <%= @maintainer %>

# Persistent
ENV TZ=Etc/UTC

# Persists just during build
ARG DEBIAN_FRONTEND="noninteractive"

<%- if @debootstrap -%>
# don't mount /proc and /sys because Docker already does that, and blows up if
# you try to do it
RUN sed -i "s%.*mount -t \\(proc\\|sysfs\\) .*%%" /debootstrap/functions && \
    /debootstrap/debootstrap --second-stage
<%- end -%>

RUN groupadd -r whalebuilder && \
    useradd -r -g whalebuilder -d /home/whalebuilder -m whalebuilder
WORKDIR /home/whalebuilder

<%- if @repository -%>
RUN sed -i "/https\\?:\\/\\/security.debian.org/b; s/https\\?:\\/\\/[^ ]*/<%= @repository.gsub(/\//, "\\\\\\\\/") %>/" \
        /etc/apt/sources.list
<%- end -%>

RUN apt-get update<% if @eatmydata %> && apt-get install -y eatmydata <% end %>
<% @hooks.each do |hook| -%>
<%= hook %>
<% end -%>
RUN <% if @eatmydata %>eatmydata <% end %>apt-get install -y --no-install-recommends build-essential fakeroot tzdata auto-apt-proxy
